@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
:root{
    --white-color: #FFFFFF;
    --bluedark-color: #3B5998;
    --bluelight-color: #B5DDF3;
    --bgbtnlight-color: #EEEEEE;
    --bgbtndark-color: #E6E4E3;
    --bg-color: #FFFFFF;


    --main-font: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

/* Start of Sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #FFF;
    box-shadow: -5px 0px 10px 7px rgba(59, 89, 152, 0.20) inset;
}
.sidebar .logo-details{
    height: 77px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .logo-details .logo-name{
    text-align: center;
    font-family: var(--main-font);
    color: var(--bluedark-color);
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
}
.sidebar .separator{
    width: 260px;
    height: 3px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #0500FF 0%, #070059 21.94%, #00FFF0 47.67%, #0300AD 72.75%, #00A3FF 100%);
    mix-blend-mode: darken;
}
    /* Start of Sidebar Nav Link (List Menu) */
.sidebar .nav-links{
    height: 100%;
    padding-top: 13px;
    overflow: auto;
    width: 100%;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    border-radius: 10px;
    background: #EEE;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, 6px 6px 16px 0px rgba(209, 205, 199, 0.50) inset;
    margin: 10px;
    margin-left: 10px;
    width: 242px;
    transition: all 0.4s ease;
    text-align: center;
    padding: 5px;
}
.sidebar .nav-links li:hover{
    background: #EEE;
    box-shadow: -10px -10px 16px 0px rgba(188, 183, 183, 0.50) inset, 6px 6px 16px 0px rgba(137, 132, 124, 0.50) inset;
}
.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #EEE;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, 6px 6px 16px 0px rgba(209, 205, 199, 0.50) inset;
}
.sidebar .nav-links li .icon-link:hover{
    background: #EEE;
    box-shadow: -10px -10px 16px 0px rgba(188, 183, 183, 0.50) inset, 6px 6px 16px 0px rgba(137, 132, 124, 0.50) inset;
}
.sidebar .nav-links li i{
    min-width: 70px; 
    text-align: center;
    color: var(--bluedark-color);
    font-size: 2rem;
}
.sidebar .nav-links li a{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebar .nav-links li .link-name{
    color: var(--bluedark-color);
    font-family: var(--main-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 0px 0px 0px 55px;
    margin-top: 0px;
    border-radius: 10px;
    display: none;      /* Bagian Untuk click open close submenu lokasi  */
}
.sidebar .nav-links li .sub-menu li{
    width: 165px;
    height: 28px;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background: #EEE;
    box-shadow: -6px -6px 16px 0px rgba(221, 221, 221, 0.50) inset, 6px 6px 16px 0px rgba(209, 205, 199, 0.50) inset;
}
.sidebar .nav-links li .sub-menu li:hover{
    border-radius: 10px;
    background: #EEE;
    box-shadow: -10px -10px 16px 0px rgba(188, 183, 183, 0.50) inset, 6px 6px 16px 0px rgba(137, 132, 124, 0.50) inset;
}
.sidebar .nav-links li .sub-menu li .nama-lokasi{
    text-align: center;
    color: var(--bluedark-color);
    font-size: 1rem;
    padding: 0px 2px;
    white-space: nowrap;
    opacity: 1;
    transition: all 0.3s ease;
}
        /* Untuk click open close submenu lokasi  */
.sidebar .nav-links li.ShowMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li.ShowMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar .nav-links li .sub-menu .link-name{
    display: none;
}
        /* End of Untuk click open close submenu lokasi  */
/* End of Sidebar */

/* Start of Home Section */
.home-section{
    position: relative;
    background: white;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
}
            /* Start untuk click open close sidebar */
.sidebar.close ~ .home-section{
    left: 0px;
    width: calc(100% - 0px);
}
.home-section .home-content{
    height: 80px;
    display: flex;
    align-items: center;
}
.home-section .home-content i{
    font-size: 2.5rem;
    font-family: var(--main-font);
    color: var(--bluedark-color);
    margin-left: 30px;
}
/* Start of Navbar */
.navbar{
    background: linear-gradient(180deg, #B5DDF3 0%, #FFF 100%);
    width: 100%;
}
.navbar .nav-wrapper{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 77px;
    left: 200px;
}
.nav-wrapper .tomenu{
    margin-left: 0px;
}
.nav-wrapper .tomenu:hover{
    
}
.nav-wrapper .title-wrapper{
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav-wrapper .Title{
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--bluedark-color);
    text-align: center;
    margin-top: 10px;
}
.nav-wrapper .subtitle{
    font-size: 1.125rem;
    font-family: var(--main-font);
}
.navbar .separator{
    background: linear-gradient(90deg, #0500FF 0%, #070059 21.94%, #00FFF0 47.67%, #0300AD 72.75%, #00A3FF 100%);
    mix-blend-mode: darken;
    height: 3px;
    margin-bottom: 0;
    width: 100%;
}
/* End of Navbar */

/* Start of Isi */
.isi{
    background-color: #00A3FF;
}
.isi .isi-wrapper{
    background-color: #0300AD;
}
.isi .title .box-wrapper{
    position: absolute;
    top: 115px;
    font-size: 1.125rem;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--bluedark-color);
    text-align: center;
    padding: 11px 27px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background: #EEE;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, 6px 6px 16px 0px rgba(209, 205, 199, 0.50) inset;
    width: 172px;
    height: 43px;
}
.isi .tulisan{
    position: absolute;
    top: 200px;
    font-size: 0.75rem;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--bluedark-color);
    text-align: center;
    width: calc(100% - 100px);
    left: 50%;
    transform: translateX(-50%);
}
.isi .search{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 300px;
    width: 324px;
    height: 44px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5.5px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #DCD9D9;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, 6px 6px 16px 0px rgba(209, 205, 199, 0.50);
}
.isi .search .search-bar{
    width: 274px;
    height: 33px;
    flex-shrink: 0;
    padding: 6px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, -10px -10px 16px 0px rgba(209, 205, 199, 0.50) inset;
    color: var(--bluedark-color);
    font-family: var(--main-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.isi .search .logo-search{
    width: 33px;
    height: 33px;
    align-items: center;
    padding: 5px 5px 5px 2px;
    flex-shrink: 0;
    border-radius: 33px;
    background: #FFF;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, -10px -10px 16px 0px rgba(209, 205, 199, 0.50) inset;
}
.isi .search .search-down{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50px;
    width: 324px;
    height: 62.707px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5.5px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #DCD9D9;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, 6px 6px 16px 0px rgba(209, 205, 199, 0.50);
    list-style: none;
    display: none;
}
.isi .search .search-down .box-wrapper{
    width: 313px;
    height: 54.778px;
    flex-shrink: 0;
    padding: 6px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.50) inset, -10px -10px 16px 0px rgba(209, 205, 199, 0.50) inset;    color: var(--bluedark-color);
    font-family: var(--main-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.isi .search .search-down .box-wrapper li{
    width: 312px;
    height: 25px;
    flex-shrink: 0;
}
.isi .search .search-down .box-wrapper a{
    text-decoration: none;
}
.isi .search.ShowSearch .search-down{
    display: block;
}
